.container{
    width: 100vw;
    text-align: center;
}
.container>h1{
    text-align: center;
    font-size: 3rem;
}
#options{
    width: 20vw;
    font-size: 1.2rem;
}
#type{
    margin-left: 2%;
    width: 15vw;
    font-size: 1.2rem;
}
#options-button{
    margin: 0% 5%;
    padding:1% 2%;
    background-color: #000;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    color: #fff;
}
#options-button:hover{
    background-color: #fff;
    color:#000;
}
.list-show{
    margin: 5% 10%;
    width: 80vw;
    font-size: 1.5rem;
}
.list-show>li{
    margin: 2% 0%;
    text-align: left;
    /* list-style: none; */
}
.list-show>li>a{
    text-decoration: none;
    
    
}
.mai{
    color: white;
    justify-content: top;
    align-items: center;
    font-weight: bold;
    margin: auto;
    font-size: 3rem;
    position: relative;
    width: 80%;
    height: 800px;
    background-color: white;
    border: 1px solid rgba(59, 58, 58, 0.4);
    border-radius: 20px;
    box-shadow: -10px 5px 10px grey;
    top: 0;
    transition: top ease 0.5s;
}

body{
    background-color: rgb(40, 40, 40);
}





/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000c18;
}*/
/*#options-button {
    width: 220px;
    height: 50px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    background-color: #111;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    cursor: pointer;
}
#options-button::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
#options-button:active::after {
    background: transparent;
}
#options-button:hover::before {
    opacity: 1;
}
#options-button::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.container-hover{
    top: -50px;
}
body{
    background-color: rgb(40, 40, 40);
}

.container{
    color: white;
}

*/